.navbar {
  background-color: black;
  color: white;
  font-family: serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link,
.navbar__link:active,
.navbar__link:focus,
.navbar__link:hover {
  color: white;
}

.navbar__title {
  font-size: 32px;
}
